In [1]:
import pandas as pd
import yfinance as yf
import datetime

# display entire table
pd.set_option('display.max_rows', None)

In [2]:
start, end = "2021-07-01", "2021-08-31"
ticker = 'aapl'

#### Generate dummy daily reference data
Dummy errors and changes added to simulate daily changes and data errors. Only the changes will be kept and non-trading days are filtered out.

In [3]:
n, m = 18, 8
date_range = pd.date_range(start=start, end=end)
currency = ['USD'] * (len(date_range) - n) + ['EUR'] * n
industry = ['Technology'] * (len(date_range) - m) + ['Tech'] * 5 + ['Technology'] * (m-5)
region = ['EMEA'] * (len(date_range) - 2) + ['APAC'] *2 

d = {'day': date_range, 'currency': currency, 'industry': industry, 'region': region}
reference_df = pd.DataFrame(data=d)
reference_df.loc[8:10, ['currency', 'industry', 'region']] = ['N/A', 'N/A', 'N/A']
reference_df.loc[15, ['currency']] = ['N/A']

reference_df.set_index('day', inplace=True)
reference_df.head(15)

           currency    industry region
day
2021-07-01      USD  Technology   EMEA
2021-07-02      USD  Technology   EMEA
2021-07-03      USD  Technology   EMEA
2021-07-04      USD  Technology   EMEA
2021-07-05      USD  Technology   EMEA
2021-07-06      USD  Technology   EMEA
2021-07-07      USD  Technology   EMEA
2021-07-08      USD  Technology   EMEA
2021-07-09      N/A         N/A    N/A
2021-07-10      N/A         N/A    N/A
2021-07-11      N/A         N/A    N/A
2021-07-12      USD  Technology   EMEA
2021-07-13      USD  Technology   EMEA
2021-07-14      USD  Technology   EMEA
2021-07-15      USD  Technology   EMEA

#### Get historical stock prices (variable=ticker)
stock_price

In [4]:
stock_price = yf.Ticker(ticker).history(start=start, end=end)
stock_price.index = pd.to_datetime(stock_price.index)
stock_price = stock_price.iloc[:, :5]
stock_price

                  Open        High         Low       Close     Volume
Date
2021-06-30  135.966285  137.204435  135.666731  136.755112   63261400
2021-07-01  136.395656  137.124559  135.556901  137.064651   52485800
2021-07-02  137.693695  139.790559  137.543925  139.750626   78852600
2021-07-06  139.860461  142.935840  139.860461  141.807541  108181800
2021-07-07  143.325256  144.673243  142.446583  144.353729  104911600
2021-07-08  141.368191  143.844476  140.459549  143.025711  105575500
2021-07-09  142.536444  145.432099  142.436587  144.892914   99890800
2021-07-12  145.991277  146.101113  143.784577  144.283829   76299700
2021-07-13  143.814527  147.239404  143.415132  145.422119  100827100
2021-07-14  147.878448  149.346250  147.459063  148.926865  127050800
2021-07-15  149.016746  149.775604  146.869954  148.257874  106820300
2021-07-16  148.237900  149.535943  145.661758  146.170990   93251400
2021-07-19  143.534951  143.854480  141.458061  142.236893  121434600
2021-07-20  143.245388  146.879942  142.746136  145.931351   96350000
2021-07-21  145.312290  145.911399  144.413643  145.182480   74993500
2021-07-22  145.721669  147.978283  145.591859  146.580383   77338200
2021-07-23  147.329270  148.497518  146.700207  148.337753   71447400
2021-07-26  148.048196  149.605860  147.479042  148.767120   72434100
2021-07-27  148.896905  148.986782  145.332254  146.550430  104818600
2021-07-28  144.593363  146.750136  142.326755  144.763107  118931200
2021-07-29  144.473543  146.330761  144.363707  145.422119   56699500
2021-07-30  144.164003  146.111083  143.894403  145.641785   70382000
2021-08-02  146.141047  146.730161  145.032707  145.302307   62880000
2021-08-03  145.591857  147.818517  144.962795  147.139542   64786600
2021-08-04  147.049692  147.568903  146.061168  146.730164   56368300
2021-08-05  146.760114  147.618828  145.951328  146.839996   46397700
2021-08-06  146.350006  147.110001  145.630005  146.139999   54067400
2021-08-09  146.199997  146.699997  145.520004  146.089996   48908700
2021-08-10  146.440002  147.710007  145.300003  145.600006   69023100
2021-08-11  146.050003  146.720001  145.529999  145.860001   48493500
2021-08-12  146.190002  149.050003  145.839996  148.889999   72282600
2021-08-13  148.970001  149.440002  148.270004  149.100006   59318800
2021-08-16  148.539993  151.190002  146.470001  151.119995  103296000
2021-08-17  150.229996  151.679993  149.089996  150.190002   92229700
2021-08-18  149.800003  150.720001  146.149994  146.360001   86326000
2021-08-19  145.029999  148.000000  144.500000  146.699997   86960300
2021-08-20  147.440002  148.500000  146.779999  148.190002   59947400
2021-08-23  148.309998  150.190002  147.889999  149.710007   60131800
2021-08-24  149.449997  150.860001  149.149994  149.619995   48606400
2021-08-25  149.809998  150.320007  147.800003  148.360001   58991300
2021-08-26  148.350006  149.119995  147.509995  147.539993   48597200
2021-08-27  147.479996  148.750000  146.830002  148.600006   55721500
2021-08-30  149.000000  153.490005  148.610001  153.119995   90956700

#### Drop non trading days from the reference_df

In [5]:
reference_df = reference_df[reference_df.index.isin(stock_price.index)]
reference_df

           currency    industry region
day
2021-07-01      USD  Technology   EMEA
2021-07-02      USD  Technology   EMEA
2021-07-06      USD  Technology   EMEA
2021-07-07      USD  Technology   EMEA
2021-07-08      USD  Technology   EMEA
2021-07-09      N/A         N/A    N/A
2021-07-12      USD  Technology   EMEA
2021-07-13      USD  Technology   EMEA
2021-07-14      USD  Technology   EMEA
2021-07-15      USD  Technology   EMEA
2021-07-16      N/A  Technology   EMEA
2021-07-19      USD  Technology   EMEA
2021-07-20      USD  Technology   EMEA
2021-07-21      USD  Technology   EMEA
2021-07-22      USD  Technology   EMEA
2021-07-23      USD  Technology   EMEA
2021-07-26      USD  Technology   EMEA
2021-07-27      USD  Technology   EMEA
2021-07-28      USD  Technology   EMEA
2021-07-29      USD  Technology   EMEA
2021-07-30      USD  Technology   EMEA
2021-08-02      USD  Technology   EMEA
2021-08-03      USD  Technology   EMEA
2021-08-04      USD  Technology   EMEA
2021-08-05      USD  Technology   EMEA
2021-08-06      USD  Technology   EMEA
2021-08-09      USD  Technology   EMEA
2021-08-10      USD  Technology   EMEA
2021-08-11      USD  Technology   EMEA
2021-08-12      USD  Technology   EMEA
2021-08-13      USD  Technology   EMEA
2021-08-16      EUR  Technology   EMEA
2021-08-17      EUR  Technology   EMEA
2021-08-18      EUR  Technology   EMEA
2021-08-19      EUR  Technology   EMEA
2021-08-20      EUR  Technology   EMEA
2021-08-23      EUR  Technology   EMEA
2021-08-24      EUR        Tech   EMEA
2021-08-25      EUR        Tech   EMEA
2021-08-26      EUR        Tech   EMEA
2021-08-27      EUR        Tech   EMEA
2021-08-30      EUR  Technology   APAC

#### Capture changes in reference_df

In [6]:
ref_df_unpivoted = reference_df.reset_index().melt(id_vars='day').set_index(['day', 'variable'])
ref_df_unpivoted.sort_index(inplace=True)
ref_df_unpivoted.head(6)

                          value
day        variable
2021-07-01 currency         USD
           industry  Technology
           region          EMEA
2021-07-02 currency         USD
           industry  Technology
           region          EMEA

In [7]:
from pprint import pprint
change = []
for i in range(len(reference_df.index)-1):
    for j in range(len(reference_df.columns)):
        chg = (reference_df.iloc[[i]].index[0], reference_df.columns[j], reference_df.iloc[i, j]!=reference_df.iloc[i+1, j])
        change.append(chg)

# List of tuples - similar to an unpivoted structure-
# within each tuple the 1st item: day, 2nd: field, 3rd: True/False indicating changes
# pprint(change[10:20])

changes_df = pd.DataFrame(change, columns= ['day', 'variable', 'changed']).set_index(['day', 'variable'])

# keep only the changes
changes_df = changes_df[changes_df['changed']==True].drop(['changed'], axis=1)

# populate changes_df with data
changes_df = changes_df.merge(ref_df_unpivoted, left_index=True, right_index=True)
changes_df = changes_df.sort_index()


display(changes_df)

                          value
day        variable
2021-07-08 currency         USD
           industry  Technology
           region          EMEA
2021-07-09 currency         N/A
           industry         N/A
           region           N/A
2021-07-15 currency         USD
2021-07-16 currency         N/A
2021-08-13 currency         USD
2021-08-23 industry  Technology
2021-08-27 industry        Tech
           region          EMEA

#### Start the output dataframe with the first observation wiht "forever" in the valid_to

In [8]:
forever = pd.to_datetime('2222-12-31') - pd.Timedelta(seconds=1)

reference_df_start = reference_df.iloc[[0]].reset_index()
reference_df_start.rename(columns={'day': 'valid_from'}, inplace=True)
reference_df_start['valid_from'] = reference_df_start['valid_from'] # + pd.Timedelta(seconds=1)
# adding 1 day minus a second

#every time where there is a change, the valid_to changes to "forever - 1 second" and valid_from to the day of a change
reference_df_start['valid_to'] = forever

reference_df_start = reference_df_start[['valid_from', 'valid_to', 'currency', 'industry', 'region']]
reference_df_start.set_index('valid_from', inplace=True)
reference_df_start

                      valid_to currency    industry region
valid_from
2021-07-01 2222-12-30 23:59:59      USD  Technology   EMEA

In [9]:
# adding changes
changes_pivot_df = changes_df.reset_index()
changes_pivot_df = changes_pivot_df.pivot(index='day', columns='variable', values='value')
changes_pivot_df.fillna(method='ffill', inplace=True)

df = pd.concat([reference_df_start, changes_pivot_df])
df.reset_index(inplace=True)
display(df)

       index            valid_to currency    industry region
0 2021-07-01 2222-12-30 23:59:59      USD  Technology   EMEA
1 2021-07-08                 NaT      USD  Technology   EMEA
2 2021-07-09                 NaT      N/A         N/A    N/A
3 2021-07-15                 NaT      USD         N/A    N/A
4 2021-07-16                 NaT      N/A         N/A    N/A
5 2021-08-13                 NaT      USD         N/A    N/A
6 2021-08-23                 NaT      USD  Technology    N/A
7 2021-08-27                 NaT      USD        Tech   EMEA

In [10]:
for row in range(df.shape[0]-1):
    valid_to = df.iloc[row + 1 , 0] - pd.Timedelta(seconds=1)
    df.loc[row, 'valid_to'] = valid_to
    
# the last value should have no expiry -> valid to = forever
df.iloc[-1, 1] =  forever
#df.index.rename('valid_from', inplace=True)
df = df.set_index('index')
df.index.rename('valid_from', inplace=True)
display(df)

                      valid_to currency    industry region
valid_from
2021-07-01 2021-07-07 23:59:59      USD  Technology   EMEA
2021-07-08 2021-07-08 23:59:59      USD  Technology   EMEA
2021-07-09 2021-07-14 23:59:59      N/A         N/A    N/A
2021-07-15 2021-07-15 23:59:59      USD         N/A    N/A
2021-07-16 2021-08-12 23:59:59      N/A         N/A    N/A
2021-08-13 2021-08-22 23:59:59      USD         N/A    N/A
2021-08-23 2021-08-26 23:59:59      USD  Technology    N/A
2021-08-27 2222-12-30 23:59:59      USD        Tech   EMEA