In [1]:
import pandas as pd
import yfinance as yf

In [2]:
msft = yf.Ticker("MSFT")

In [3]:
print(msft)

yfinance.Ticker object <MSFT>

In [4]:
msft.info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'totalAssets', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'yield', 'algorithm', 'dividendRate', 'exDividendDate', 'beta', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'priceHint', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'priceToSalesTrailing12Months', 'dayLow', 'ask', 'ytdReturn', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'forwardPE', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'profitMargins', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'enterpriseValue', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'dateShortInterest', 'pegRatio', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'regularMarketPrice', 'logo_url'])

In [5]:
print(msft.info['zip'])

98052-6399

#### Get stock time-series data

In [56]:
stock_price = msft.history(start='2021-05-15', end='2021-07-05')
stock_price.index = pd.to_datetime(stock_price.index)
display(stock_price.head())

#drop not needed cols
stock_price = stock_price.iloc[:,0:4]
stock_price['zip'] = msft.info['zip']
display(stock_price.head())

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-05-14,245.014237,248.605934,244.924448,247.578308,23901100,0.00,0
2021-05-17,245.982012,246.021913,242.958994,244.615158,24970200,0.00,0
2021-05-18,245.702658,245.842335,242.340411,242.520004,20168000,0.00,0
2021-05-19,239.309998,243.229996,238.600006,243.119995,25739800,0.56,0
2021-05-20,243.960007,247.949997,243.860001,246.479996,21800700,0.00,0

                  Open        High         Low       Close         zip
Date
2021-05-14  245.014237  248.605934  244.924448  247.578308  98052-6399
2021-05-17  245.982012  246.021913  242.958994  244.615158  98052-6399
2021-05-18  245.702658  245.842335  242.340411  242.520004  98052-6399
2021-05-19  239.309998  243.229996  238.600006  243.119995  98052-6399
2021-05-20  243.960007  247.949997  243.860001  246.479996  98052-6399

#### Get reference data (the file intentionally contains errors)

In [57]:
ref_data = pd.read_csv('reference_data.csv', index_col='date', parse_dates=True)
print(ref_data)

               ticker currency      sector
date
2021-06-04       msft      USD  Technology
2021-06-05       msft      USD  Technology
2021-06-06       msft      USD  Technology
2021-06-07       msft      EUR  Technology
2021-06-08       msft      USD  Technology
2021-06-09       msft      USD  Technology
2021-06-10  Microsoft      USD     Finance
2021-06-11  Microsoft      USD     Finance
2021-06-12  Microsoft      USD     Finance
2021-06-13  Microsoft      USD  Technology
2021-06-14  Microsoft      USD  Technology
2021-06-15  Microsoft      USD  Technology
2021-06-16  Microsoft      USD  Technology
2021-06-17  Microsoft      USD  Technology
2021-06-18       msft      USD  Technology
2021-06-19       msft      USD  Technology
2021-06-20       msft      USD  Technology
2021-06-21       msft      XAU  Technology
2021-06-22       msft      XAU  Technology
2021-06-23       msft      XAU  Technology
2021-06-24       msft      XAU  Technology
2021-06-25       msft      XAU  Technology
2021-06-26       msft      USD  Technology
2021-06-27       msft      USD  Technology
2021-06-28       msft      NaN  Technology
2021-06-29       msft      USD  Technology
2021-06-30       msft      USD  Technology
2021-07-01       msft      USD  Technology

##### -Task1: Display all columns form ref_data and stock_price in one table. Drop prices where ref_data is not available.

In [58]:
task1_df = pd.merge(stock_price, ref_data, left_index=True, right_index=True, how='inner')
display(task1_df)

,Open,High,Low,Close,zip,ticker,currency,sector
2021-06-04,247.759995,251.649994,247.509995,250.789993,98052-6399,msft,USD,Technology
2021-06-07,249.979996,254.089996,249.809998,253.809998,98052-6399,msft,EUR,Technology
2021-06-08,255.160004,256.010010,252.509995,252.570007,98052-6399,msft,USD,Technology
2021-06-09,253.809998,255.529999,253.210007,253.589996,98052-6399,msft,USD,Technology
2021-06-10,254.289993,257.459991,253.669998,257.239990,98052-6399,Microsoft,USD,Finance
2021-06-11,257.989990,258.489990,256.609985,257.890015,98052-6399,Microsoft,USD,Finance
2021-06-14,257.899994,259.950012,256.799988,259.890015,98052-6399,Microsoft,USD,Technology
2021-06-15,259.769989,259.989990,257.679993,258.359985,98052-6399,Microsoft,USD,Technology
2021-06-16,259.399994,260.579987,254.419998,257.380005,98052-6399,Microsoft,USD,Technology
2021-06-17,256.070007,261.750000,256.010010,260.899994,98052-6399,Microsoft,USD,Technology
2021-06-18,259.630005,262.299988,258.750000,259.429993,98052-6399,msft,USD,Technology
2021-06-21,259.820007,263.519989,257.920013,262.630005,98052-6399,msft,XAU,Technology
2021-06-22,262.720001,265.790009,262.399994,265.510010,98052-6399,msft,XAU,Technology
2021-06-23,265.989990,266.829987,264.429993,265.269989,98052-6399,msft,XAU,Technology
2021-06-24,266.160004,267.850006,265.470001,266.690002,98052-6399,msft,XAU,Technology
2021-06-25,266.230011,267.250000,264.760010,265.019989,98052-6399,msft,XAU,Technology
2021-06-28,266.190002,268.899994,265.910004,268.720001,98052-6399,msft,NaN,Technology
2021-06-29,268.869995,271.649994,267.980011,271.399994,98052-6399,msft,USD,Technology
2021-06-30,270.690002,271.359985,269.600006,270.899994,98052-6399,msft,USD,Technology
2021-07-01,269.609985,271.839996,269.600006,271.600006,98052-6399,msft,USD,Technology

##### -Task2: Convert the ref_data DataFrame into a historical format (valid_from, valid_to values) to capture changes in the time-series data

In [54]:
cols = ['valid_from', 'valid_to', 'zip'] + list(ref_data.columns)
historical_df_structure = pd.DataFrame(columns=cols)

In [55]:
historical_df_structure

Empty DataFrame
Columns: [valid_from, valid_to, zip, ticker, currency, sector]
Index: []